@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html
{
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.171303vw;
}

body
{
    background-color: #050411;
    height: 100%;
    margin: 0;
    color: #fff;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section
{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eclipse-banner
{
    background-image: url('/background.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.eclipse-header
{
    font-weight: 150;
    font-size: 4em;
    letter-spacing: 1.5vw;
}

.eclipse-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    color: rgba(255, 255, 255, 0.5);
}

.eclipse-slogan
{
    font-size: 1.25em;
}

.eclipse-info
{
    font-size: 0.9em;
}

.eclipse-text b
{
    font-weight: 800;
    letter-spacing: 0.25vw;
}