@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
	user-select: none;
}

body {
	background-color: #010101;
	height: 100%;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-top: 2rem;
	color: #f6f6f4;
}

.header {
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: 5px;
}

.muted {
	font-size: 0.75rem;
	font-weight: 400;
	opacity: 0.5;
}

.blog-container {
	gap: 2rem;
}

.mt-8 {
	margin-top: 2rem;
}

.h-12 {
	height: 3rem;
}

.blog-post-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.w-96 {
	width: 24rem;
}

.w-48 {
	width: 10rem;
}

.h-4 {
	height: 1rem;
}

.h-128 {
	height: 26rem;
}

.blog-post-info-container {
	display: flex;
	justify-content: space-between;
	width: 24rem;
}

.tag-chip {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	background-color: white;
	color: black;
	border-radius: 2rem;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 400ms;
	font-size: 0.9rem;
}

.tag-container {
	gap: 2rem;
}

.tag-chip:hover {
	transform: rotate(-2deg) translateY(-5%);
	background-color: #6e27ba;
	color: white;
	box-shadow: 4px 4px 24px rgba(110, 39, 186, 0.25);
}

.post-title {
	font-weight: 700;
	letter-spacing: 0.25rem;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 400ms;
}

.blog-container {
	padding-bottom: 3rem;
}

.post-title:hover {
	letter-spacing: 0.5rem;
	text-shadow: 4px 4px 24px rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 450px) {
	.blog-post-info-list {
		display: flex;
		flex-direction: column;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.blog_image {
	max-width: 64vw;
	max-height: 28vw;
	min-height: 8em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 0.9rem;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 400ms;
}

.blog_image:hover {
	transform: rotate(-2deg) translateY(-5%);
	box-shadow: 4px 4px 24px rgba(255, 255, 255, 0.25);
}

.blog_image_container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.blockquoute {
	background-color: rgb(39 39 42);
	padding: 1rem;
	border-radius: 0.75rem;
	border-left: solid 0.3rem rgb(24 24 27);
}

.header_2 {
	font-size: 3rem;
	font-weight: 900;
}

.header_2 {
	font-size: 2.75rem;
	font-weight: 900;
}

.header_3 {
	font-size: 2.5rem;
	font-weight: 900;
}

.header_4 {
	font-size: 2.25rem;
	font-weight: 900;
}

.header_5 {
	font-size: 2rem;
	font-weight: 900;
}

.header_6 {
	font-size: 1.75rem;
	font-weight: 900;
}

.link {
	text-decoration: underline;
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 400ms;
}

.link:hover {
	letter-spacing: 0.2rem;
	text-shadow: 4px 4px 24px rgba(255, 255, 255, 0.5);
}

.blog-container ul {
	list-style-type: disc;
	margin-left: 1rem;
}

.blog-container ol {
	list-style-type: lower-roman;
	margin-left: 1rem;
}

.list ul {
	list-style-type: disc;
	margin-left: 1rem;
}

.list ol {
	list-style-type: lower-roman;
	margin-left: 1rem;
}

table {
	table-layout: fixed;
}

code {
	user-select: text;
}

* {
	box-sizing: border-box;
}

.projects-breadcrumb {
	background-color: black;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 1.5rem;
}

.project-social-bar {
	background-color: black;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	margin-top: 1.5rem;
	margin-right: 1.25rem;
	padding-bottom: 0.5rem;
	border-radius: 1.5rem;
}

.project {
	margin: 0;
}

.project-body {
	margin: 0;
	padding: 0;
}

.gradient-body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.project-effect-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.project-page-main {
	width: calc(100% - 2rem);
	margin-top: 4rem;
	margin-left: 2rem;
}

.inline-code {
	background-color: rgb(39 39 42);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 0.25rem;
	font-family: 'Fira Code', monospace;
}

.project-card {
	width: 12rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.6rem;
	border: solid 0.1rem rgb(82 82 91);
	flex-direction: column;
	clip-path: fill-box;
}

.project-header {
	font-weight: 800;
	letter-spacing: 0.1rem;
}

.project-desc {
	font-size: 0.7rem;
	font-weight: 400;
	text-align: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.project-card-gradient {
	z-index: -1;
	position: fixed;
	width: 12rem;
	height: 12rem;
	max-width: 12rem;
	max-height: 12rem;
}

.project-card-effect {
	z-index: -2;
	position: fixed;
	border-radius: 0.6rem;
	max-width: 12rem;
	max-height: 12rem;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(4, 12rem);
	grid-template-rows: repeat(3, 8rem);
	gap: 2rem;
}